<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="/js/google-analytics.js"></script>
		<!-- Chrome Web Store link for inline extension installation. See:
		https://developer.chrome.com/webstore/inline_installation?hl=en#cws-link -->
		<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/moicnldnafmkejcghffkhhnidjfhllcl">
	</head>
	<body>
		{% if page.current_language == "en" %}{% include header.html %}{% endif %}
		{% if page.current_language == "ru" %}{% include header_ru.html %}{% endif %}
		<div class="container">{{ content }}</div>

		<script>
			$( "[data-toggle=tooltip]" ).popover({ trigger: "hover", container: "body" });
		</script>
	</body>
</html>
